<!--

<section id="login" class="container-fluid " *ngIf="loggedId <= 0">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-warning">
                <h5 class="modal-title" id="exampleModalLabel">Reimbursement Management System</h5>

            </div>
            <div class="modal-body">
                <form #login="ngForm" (ngSubmit)="submit(login.value)">
                    <div class="mb-3">
                        <label for="username">UserName: </label>
                        <input type="text" #username name="user" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password: </label>
                        <input type="password" #password name="pass" ngModel>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox"  #rmCheck  class="form-check-input" name="rememberMe" ngModel/>
                     
                        <label class="form-check-label"  for="rememberMe">Remember me </label>
                    </div>
                    <button class="btn btn-warning float-end" #loginButton>Submit</button>
                </form>
               
              
            </div>
        </div>
    </div>
</section>

-->