<main id="viewtickets">
    <div class="flex-row align-items-end justify-content-end  mt-2 mb-2" id="filt">
      <label for="filterby">Filter By</label> 
      <select id="filterby" name="filterby" >
         <option value="All">All</option>
         <option value="Pending">Pending</option>
         <option value="Approved">Approved</option>
         <option value="Denied">Denied</option>
       </select>
       <button class="btn-warning btn-sm"  id="btnGo">Go</button>
      </div>
      <table class="table table-success table-striped border border-1">
          <thead id="vh">

          </thead>
         <tbody id="vt">

          </tbody>
        </table>
        <div id="forAdmin" class="flex-row align-items-start justify-content-start">
          
        <form id="approval">
          <label for="apText">Enter ID number</label>
          <input type="text" id="apText" name="apText">
        </form>
        <button class=" btn btn-warning text-dark font-weight-bold btn-sm" id="Approve" style="margin-left: 5px;" >Approve</button>
        <button class=" btn btn-warning text-dark font-weight-bold btn-sm" id="Deny" >Deny</button>
     
      </div>
  </main>