<p>movie-info works!</p>

<h1>
  Movie info
</h1>

<p id = "TitleText">
  This Is Text {{movieTitle}}
</p>


<table class="Movie List">
  <thead>
    <tr>
      <th scope="col"> Title </th>
      <th scope="col"> Release </th>
      <th scope="col"> Plot </th>
      <th scope="col"> Genre </th>
      <th scope="col"> Director </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of movies">
      <td>
        <a
        routerLink="login"
        routerLinkActive="active"
        >{{t.title}}</a>
      </td>
      <td>{{t.release}}</td>git