
<h1> Reviews</h1>
<p>Add your own review:</p>
<form class="review-form" #form='ngForm' novalidate (ngSubmit)="submitReview(form.value)">
    <label for="rating-input">Rating:</label>
    <input type="number" id="rating-input" name="rating" min=1 max=5>
    <br>
    <textarea id="review-content" name="content" rows="5" cols="50"></textarea>
    <button type="submit">Post review</button>
</form>

<div class="review-list" *ngFor="let r of reviews">
    <br>
    <p>Reviewer: {{r.username}}</p>
    <p>{{r.reviewContent}}</p>
    <p>Rating: {{r.starRating}} stars</p>
</div>